connection:
     covenant_admin_url: "https://kali:7443"
     covenant_user: "<user>"
     covenant_pass: "<password>"
     default_kill_days_from_now: 20 # Make sure we dont accidentally kill grunts...
     default_grunt_delay_time: 5 # Sleep 5 seconds between task requests


listeners:
     crto-http:
          listenerType: HTTP
          name: "CRTO-Lab-HTTP"
          useSSL: false
          sslCertificate: ""
          sslCertificatePassword: ""
          sslCertHash: ""
          description: "Listener for CRTO Lab"
          bindAddress: 127.0.0.1
          bindPort: 6666
          connectAddressesType: auto # "manual" or "auto"
          connectAddresses: ["10.8.0.xxx"] # only used if "manual"
          connectAddressesInterface: tun0
          connectPort: 80
          profile: "DefaultHttpProfile"
          status: "Active"
  
          
     crto-bridge:
          listenerType: bridge
          name: "CRTO-Lab-Bridge"
          Id: bbbbbb

launchers:
     powershell_http:
          ListenerName: "CRTO-Lab-HTTP"
          ImplantTemplate: "GruntHTTP"
          DotNetVersion: "Net40"
          LifeInDays: 60
          LauncherType: "powerShell"
          HostedURI: "/GruntHTTPStager.ps1"

#hosted_files:
#     hta_exploit:
#          ListenerName: "CRTO-Lab-HTTP"
#          HostedURI: "/login.hta"
#          SrcFile: "files/login.hta"
#     doc_exploit:
#          ListenerName: "CRTO-Lab-HTTP"
#          HostedURI: "/DodgyWordDoc.doc"
#          SrcFile: "files/DodgyWordDoc.doc"

profiles:
     english-cookies:
          name: "CRTO-en-gb-cookies"
          description: "A Custom profile using cookies and an \"alternative\" language pack."
          type: "HTTP"
          httpUrls: 
               - "/en-gb/index.html"
               - "/en-gb/docs.html"
               - "/en-gb/test.html" 
          httpRequestHeaders: 
               -  
                    name: "User-Agent" 
                    value: "Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/41.0.2228.0 Safari/537.36" 
               -  
                    name: "Cookie"
                    value: "ASPSESSIONID={GUID}; SESSIONID=1552332971750"
          httpResponseHeaders: 
               - 
                    name: "Server"
                    value: "Microsoft-IIS/7.5" 
          httpPostRequest: "i=a19ea23062db990386a3a478cb89d52e&data={DATA}&session=75db-99b1-25fe4e9afbe58696-320bea73"
          httpGetResponse: "<html>\n    <head>\n        <title>Hello World!</title>\n    </head>\n    <body>\n        <p>Hello World!</p>\n        // Hello World! {DATA}\n    </body>\n</html>"
          httpPostResponse: "<html>\n    <head>\n        <title>Hello World!</title>\n    </head>\n    <body>\n        <p>Hello World!</p>\n        // Hello World! {DATA}\n    </body>\n</html>"
          messageTransform: "public static class MessageTransform\n{\n    public static string Transform(byte[] bytes)\n    {\n        return System.Convert.ToBase64String(bytes);\n    }\n    public static byte[] Invert(string str) {\n        return System.Convert.FromBase64String(str);\n    }\n}\n"


     english-no-cookies:
          name: "CRTO-en-gb-no-cookies"
          description: "A Custom profile that doesnt use cookies and an \"alternative\" language pack."
          type: "HTTP"
          httpUrls: 
               - "/en-gb/index.html?page={GUID}&v=1"
               - "/en-gb/docs.html?type={GUID}&v=1"
               - "/en-gb/test.html?message={GUID}&v=1"
          httpRequestHeaders: 
               -  
                    name: "User-Agent" 
                    value: "Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/41.0.2228.0 Safari/537.36" 
          httpResponseHeaders: 
               - 
                    name: "Server"
                    value: "Microsoft-IIS/7.5" 
          httpPostRequest: "i=a19ea23062db990386a3a478cb89d52e&data={DATA}&session=75db-99b1-25fe4e9afbe58696-320bea73"
          httpGetResponse: "<html>\n    <head>\n        <title>Hello World!</title>\n    </head>\n    <body>\n        <p>Hello World!</p>\n        // Hello World! {DATA}\n    </body>\n</html>"
          httpPostResponse: "<html>\n    <head>\n        <title>Hello World!</title>\n    </head>\n    <body>\n        <p>Hello World!</p>\n        // Hello World! {DATA}\n    </body>\n</html>"
          messageTransform: "public static class MessageTransform\n{\n    public static string Transform(byte[] bytes)\n    {\n        return System.Convert.ToBase64String(bytes);\n    }\n    public static byte[] Invert(string str)\n    {\n        return System.Convert.FromBase64String(str);\n    }\n}\n"

templates:
     # GruntHTTP: false
     # GruntSMB: false
     # GruntBridge: false
     # Brute: false