[Unit]
Description=Setup Covenant C2
After=network.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/opt/Covenant/Covenant
ExecStartPre=/usr/bin/dotnet publish -c Release  
ExecStart=/usr/bin/dotnet /opt/Covenant/Covenant/bin/Release/netcoreapp3.1/Covenant.dll
RemainAfterExit=true
#ExecStop=/opt/foo/teardown-foo.sh
StandardOutput=journal

[Install]
WantedBy=multi-user.target
